# Read Data Demo

### Demo

#### Get Database ID

1. import the sqlDataReading depot for data file:

In [1]:
import data.sqlDataFetch as sdf

2. Get database id by a valid year:

In [2]:
database_id = sdf.get_id_by_year(2024)
print("Database id: ", database_id)

Database id:  a9eb19ad-da79-4f7b-9e3b-6b13e66f8285

#### Describe Database

To describe a database and see what keys it contains (e.g., column or field names)

In [3]:
sdf.describe_database(database_id)

Column Name          | Type
--------------------------------
_id                  | int
PID                  | text
CM_ID                | text
GIS_ID               | text
ST_NUM               | text
ST_NAME              | text
UNIT_NUM             | text
CITY                 | text
ZIP_CODE             | text
BLDG_SEQ             | text
NUM_BLDGS            | text
LUC                  | text
LU                   | text
LU_DESC              | text
BLDG_TYPE            | text
OWN_OCC              | text
OWNER                | text
MAIL_ADDRESSEE       | text
MAIL_STREET_ADDRESS  | text
MAIL_CITY            | text
MAIL_STATE           | text
MAIL_ZIP_CODE        | text
RES_FLOOR            | text
CD_FLOOR             | text
RES_UNITS            | text
COM_UNITS            | text
RC_UNITS             | text
LAND_SF              | text
GROSS_AREA           | text
LIVING_AREA          | text
LAND_VALUE           | text
BLDG_VALUE           | text
SFYI_VALUE           | text
TOTAL_VALUE          | text
GROSS_TAX            | text
YR_BUILT             | text
YR_REMODEL           | text
STRUCTURE_CLASS      | text
ROOF_STRUCTURE       | text
ROOF_COVER           | text
INT_WALL             | text
EXT_FNISHED          | text
INT_COND             | text
EXT_COND             | text
OVERALL_COND         | text
BED_RMS              | text
FULL_BTH             | text
HLF_BTH              | text
KITCHENS             | text
TT_RMS               | text
BDRM_COND            | text
BTHRM_STYLE1         | text
BTHRM_STYLE2         | text
BTHRM_STYLE3         | text
KITCHEN_TYPE         | text
KITCHEN_STYLE1       | text
KITCHEN_STYLE2       | text
KITCHEN_STYLE3       | text
HEAT_TYPE            | text
HEAT_SYSTEM          | text
AC_TYPE              | text
FIREPLACES           | text
ORIENTATION          | text
NUM_PARKING          | text
PROP_VIEW            | text
CORNER_UNIT          | text

### Fetch Data

#### Fetch Data With Parameters And Conditions

1. Using fetch_data method with database id, parameters and conditions.

In [4]:
condition= "LIMIT 1000"
df1 = sdf.fetch_data(database_id, condition, _id=int, PID = str, CM_ID = str, GIS_ID = str, ST_NUM = int, ST_NAME = str, UNIT_NUM = str, CITY=str, ZIP_CODE = int, BLDG_SEQ = int, NUM_BLDGS = int, LUC = str)
df2 = sdf.fetch_data(database_id, condition, LU = str, LU_DESC = str, BLDG_TYPE = str, OWN_OCC = str, OWNER = str, MAIL_ADDRESSEE = str, MAIL_STREET_ADDRESS = str, MAIL_CITY = str, MAIL_STATE = str, MAIL_ZIP_CODE = int)
df3 = sdf.fetch_data(database_id, condition, RES_FLOOR = float, CD_FLOOR = int, RES_UNITS = int, COM_UNITS = int, RC_UNITS = int, LAND_SF = 'value', GROSS_AREA = float, LIVING_AREA = float, LAND_VALUE = 'value')
df4 = sdf.fetch_data(database_id, condition, BLDG_VALUE = 'value', SFYI_VALUE = 'value', TOTAL_VALUE = 'value', GROSS_TAX=str, YR_BUILT = int, YR_REMODEL = int, STRUCTURE_CLASS = str)
df5 = sdf.fetch_data(database_id, condition, ROOF_COVER = str, INT_WALL = str, EXT_FNISHED = str, INT_COND = str, EXT_COND = str, OVERALL_COND = str, BED_RMS = int, FULL_BTH = int, HLF_BTH = int, KITCHENS = int)
df6 = sdf.fetch_data(database_id, condition, TT_RMS = int, BDRM_COND = str, BTHRM_STYLE1 = str, BTHRM_STYLE2 = str, BTHRM_STYLE3 = str, KITCHEN_TYPE = str, KITCHEN_STYLE1 = str, KITCHEN_STYLE2 = str, KITCHEN_STYLE3 = str)
df7 = sdf.fetch_data(database_id, condition, HEAT_TYPE = str, HEAT_SYSTEM = str, AC_TYPE = str, FIREPLACES = int, ORIENTATION = str, NUM_PARKING = int, PROP_VIEW = str, CORNER_UNIT = str)
dfs = [df1, df2, df3, df4, df5, df6, df7]


for df in dfs:
    print(df)

     _id         PID       CM_ID      GIS_ID  ST_NUM        ST_NAME UNIT_NUM  \
0      1  0100001000        None  0100001000   104.0      PUTNAM ST     None
1      2  0100002000        None  0100002000   197.0   Lexington ST     None
2      3  0100003000        None  0100003000   199.0   Lexington ST     None
3      4  0100004000        None  0100004000   201.0   Lexington ST     None
4      5  0100005000        None  0100005000   203.0   Lexington ST     None
..   ...         ...         ...         ...     ...            ...      ...
995  960  0100817012  0100817010  0100817010   685.0    Saratoga ST        1
996  961  0100817014  0100817010  0100817010   685.0    Saratoga ST        2
997  976  0100835001  0100835001  0100835001   631.0    Saratoga ST     None
998  963  0100819000        None  0100819000   691.0    Saratoga ST     None
999  964  0100820000        None  0100820000   516.0  Bennington ST     None

            CITY  ZIP_CODE  BLDG_SEQ  NUM_BLDGS  LUC
0    EAST BOSTON      2128         1          1  105
1    EAST BOSTON      2128         1          1  105
2    EAST BOSTON      2128         1          1  105
3    EAST BOSTON      2128         1          1  105
4    EAST BOSTON      2128         1          1  104
..           ...       ...       ...        ...  ...
995  EAST BOSTON      2128         1          1  102
996  EAST BOSTON      2128         1          1  102
997  EAST BOSTON      2128         1          1  995
998  EAST BOSTON      2128         1          1  104
999  EAST BOSTON      2128         1          1  101

[1000 rows x 12 columns]
     LU              LU_DESC           BLDG_TYPE OWN_OCC  \
0    R3   THREE-FAM DWELLING        RE - Row End       Y
1    R3   THREE-FAM DWELLING     RM - Row Middle       N
2    R3   THREE-FAM DWELLING     RM - Row Middle       Y
3    R3   THREE-FAM DWELLING     RM - Row Middle       N
4    R2     TWO-FAM DWELLING        RE - Row End       Y
..   ..                  ...                 ...     ...
995  CD    RESIDENTIAL CONDO  FS - Free Standing       Y
996  CD    RESIDENTIAL CONDO  FS - Free Standing       Y
997  CM           CONDO MAIN  FS - Free Standing       N
998  R2     TWO-FAM DWELLING   CV - Conventional       N
999  R1  SINGLE FAM DWELLING   CV - Conventional       Y

                                       OWNER MAIL_ADDRESSEE  \
0                             PASCUCCI CARLO           None
1                          SEMBRANO RODERICK           None
2                     GUERRA CHEVARRIA ANA S           None
3                            JB REALTY TRUST           None
4                        MARKS TRAVIS JOSEPH           None
..                                       ...            ...
995                            BRACAJ JONIDA           None
996                             ROLFE PHILIP           None
997    631 SARATOGA STREET CONDOMINIUM TRUST           None
998  MARILYN A FORD FAMILY IRREVOCABLE TRUST           None
999                        HUTTUNEN RONALD W           None

    MAIL_STREET_ADDRESS    MAIL_CITY MAIL_STATE  MAIL_ZIP_CODE
0      195 LEXINGTON ST  EAST BOSTON         MA           2128
1      197 LEXINGTON ST  EAST BOSTON         MA           2128
2      199 LEXINGTON ST  EAST BOSTON         MA           2128
3          PO BOX 557 #      EVERETT         MA           2149
4      203 Lexington ST  EAST BOSTON         MA           2128
..                  ...          ...        ...            ...
995  685 SARATOGA ST #1  EAST BOSTON         MA           2128
996  685 SARATOGA ST #2  EAST BOSTON         MA           2128
997         5 HERSEY ST   SOMERVILLE         MA           2143
998     691 SARATOGA ST  EAST BOSTON         MA           2128
999   516 BENNINGTON ST  EAST BOSTON         MA           2128

[1000 rows x 10 columns]
     RES_FLOOR  CD_FLOOR  RES_UNITS  COM_UNITS  RC_UNITS  LAND_SF  GROSS_AREA  \
0          3.0       NaN        NaN        NaN       NaN   1150.0      3353.0
1          3.0       NaN        NaN        NaN       NaN   1150.0      3047.0
2          3.0       NaN        NaN        NaN       NaN   1150.0      3392.0
3          3.0       NaN        NaN        NaN       NaN   1150.0      3108.0
4          3.0       NaN        NaN        NaN       NaN   2010.0      3700.0
..         ...       ...        ...        ...       ...      ...         ...
995        2.0       0.0        NaN        NaN       NaN   1588.0      1588.0
996        1.0       2.0        NaN        NaN       NaN   1067.0      1067.0
997        3.0       NaN        4.0        0.0       0.0   2060.0         NaN
998        2.5       NaN        NaN        NaN       NaN   2500.0      3658.0
999        1.5       NaN        NaN        NaN       NaN   1250.0      1388.0

     LIVING_AREA  LAND_VALUE
0         2202.0      197600
1         2307.0      198500
2         2268.0      199100
3         2028.0      199700
4         2546.0      230200
..           ...         ...
995       1588.0           0
996       1067.0           0
997          NaN           0
998       2459.2      211300
999        920.0      152400

[1000 rows x 9 columns]
     BLDG_VALUE  SFYI_VALUE  TOTAL_VALUE    GROSS_TAX  YR_BUILT  YR_REMODEL  \
0        594400           0       792000   $8,632.80     1900.0         NaN
1        619700           0       818200   $8,918.38     1920.0      2000.0
2        605300           0       804400   $8,767.96     1905.0      1985.0
3        535600           0       735300   $8,014.77     1900.0      1991.0
4        501400           0       731600   $7,974.44     1900.0      1978.0
..          ...         ...          ...          ...       ...         ...
995      578800           0       578800   $6,308.92     2017.0      2017.0
996      500100           0       500100   $5,451.09     2017.0      2017.0
997           0           0            0        $-       2019.0         NaN
998      440200           0       651500   $7,101.35     1900.0         NaN
999      250600           0       403000   $4,392.70     1900.0         NaN

    STRUCTURE_CLASS
0              None
1              None
2              None
3              None
4              None
..              ...
995            None
996            None
997            None
998            None
999            None

[1000 rows x 7 columns]
             ROOF_COVER    INT_WALL       EXT_FNISHED     INT_COND  \
0       C - Composition  N - Normal      A - Asbestos  A - Average
1       C - Composition  N - Normal         M - Vinyl  A - Average
2       C - Composition  N - Normal         M - Vinyl  A - Average
3       C - Composition  N - Normal         M - Vinyl  A - Average
4       C - Composition  N - Normal         M - Vinyl  A - Average
..                  ...         ...               ...          ...
995  A - Asphalt Shingl  N - Normal  C - Cement Board     G - Good
996  A - Asphalt Shingl  N - Normal  C - Cement Board  A - Average
997  A - Asphalt Shingl        None  C - Cement Board         None
998  A - Asphalt Shingl  N - Normal         M - Vinyl  A - Average
999  A - Asphalt Shingl  N - Normal         M - Vinyl  A - Average

          EXT_COND OVERALL_COND  BED_RMS  FULL_BTH  HLF_BTH  KITCHENS
0         F - Fair  A - Average      6.0       3.0      0.0       3.0
1      A - Average  A - Average      3.0       3.0      0.0       3.0
2         G - Good  A - Average      5.0       3.0      0.0       3.0
3      A - Average  A - Average      5.0       3.0      0.0       3.0
4         F - Fair  A - Average      6.0       3.0      0.0       2.0
..             ...          ...      ...       ...      ...       ...
995       G - Good  A - Average      2.0       1.0      0.0       1.0
996       G - Good  A - Average      2.0       1.0      0.0       1.0
997  E - Excellent  A - Average      NaN       NaN      NaN       NaN
998    A - Average  A - Average      3.0       2.0      0.0       2.0
999       G - Good  A - Average      2.0       1.0      0.0       1.0

[1000 rows x 10 columns]
     TT_RMS    BDRM_COND       BTHRM_STYLE1       BTHRM_STYLE2  \
0      12.0         None    S - Semi-Modern    S - Semi-Modern
1       9.0         None         M - Modern         M - Modern
2      13.0         None         M - Modern         M - Modern
3      11.0         None    S - Semi-Modern    S - Semi-Modern
4      13.0         None  N - No Remodeling  N - No Remodeling
..      ...          ...                ...                ...
995     5.0  A - Average         M - Modern               None
996     4.0  A - Average         M - Modern               None
997     NaN         None               None               None
998    13.0         None    S - Semi-Modern    S - Semi-Modern
999     5.0         None    S - Semi-Modern               None

          BTHRM_STYLE3                 KITCHEN_TYPE     KITCHEN_STYLE1  \
0      S - Semi-Modern  3F - 3 Full Eat In Kitchens    S - Semi-Modern
1           M - Modern  3F - 3 Full Eat In Kitchens         M - Modern
2           M - Modern  3F - 3 Full Eat In Kitchens    S - Semi-Modern
3      S - Semi-Modern  3F - 3 Full Eat In Kitchens    S - Semi-Modern
4    N - No Remodeling  2F - 2 Full Eat In Kitchens  N - No Remodeling
..                 ...                          ...                ...
995               None               O - One Person         M - Modern
996               None               O - One Person         M - Modern
997               None                         None               None
998               None  0F - 0 Full Eat In Kitchens    S - Semi-Modern
999               None  1F - 1 Full Eat In Kitchens    S - Semi-Modern

        KITCHEN_STYLE2   KITCHEN_STYLE3
0      S - Semi-Modern  S - Semi-Modern
1           M - Modern       M - Modern
2      S - Semi-Modern  S - Semi-Modern
3      S - Semi-Modern  S - Semi-Modern
4    N - No Remodeling             None
..                 ...              ...
995               None             None
996               None             None
997               None             None
998    S - Semi-Modern             None
999               None             None

[1000 rows x 9 columns]
              HEAT_TYPE       HEAT_SYSTEM         AC_TYPE  FIREPLACES  \
0    W - Ht Water/Steam              None        N - None         0.0
1    F - Forced Hot Air              None  C - Central AC         0.0
2        S - Space Heat              None        N - None         0.0
3    W - Ht Water/Steam              None        N - None         0.0
4    W - Ht Water/Steam              None        N - None         0.0
..                  ...               ...             ...         ...
995  F - Forced Hot Air  I - Indiv. Cntrl  C - Central AC         0.0
996  F - Forced Hot Air  I - Indiv. Cntrl  C - Central AC         0.0
997  F - Forced Hot Air              None        N - None         NaN
998        E - Electric              None        N - None         0.0
999  W - Ht Water/Steam              None        N - None         0.0

     ORIENTATION  NUM_PARKING    PROP_VIEW CORNER_UNIT
0           None          3.0  A - Average        None
1           None          0.0  A - Average        None
2           None          0.0  A - Average        None
3           None          0.0  A - Average        None
4           None          0.0  A - Average        None
..           ...          ...          ...         ...
995  T - Through          0.0  A - Average      N - No
996  T - Through          0.0  A - Average      N - No
997         None          NaN  A - Average        None
998         None          0.0  A - Average        None
999         None          0.0  A - Average        None

[1000 rows x 8 columns]

2. Delete Column With Too Much Null.

In [5]:
for df in dfs:

    none_count = df.isnull().sum()

    total_rows = len(df)

    cols_to_drop = none_count[none_count > total_rows / 2].index

    df.drop(cols_to_drop, axis=1, inplace=True)

    print(df)

     _id         PID      GIS_ID  ST_NUM        ST_NAME         CITY  \
0      1  0100001000  0100001000   104.0      PUTNAM ST  EAST BOSTON
1      2  0100002000  0100002000   197.0   Lexington ST  EAST BOSTON
2      3  0100003000  0100003000   199.0   Lexington ST  EAST BOSTON
3      4  0100004000  0100004000   201.0   Lexington ST  EAST BOSTON
4      5  0100005000  0100005000   203.0   Lexington ST  EAST BOSTON
..   ...         ...         ...     ...            ...          ...
995  960  0100817012  0100817010   685.0    Saratoga ST  EAST BOSTON
996  961  0100817014  0100817010   685.0    Saratoga ST  EAST BOSTON
997  976  0100835001  0100835001   631.0    Saratoga ST  EAST BOSTON
998  963  0100819000  0100819000   691.0    Saratoga ST  EAST BOSTON
999  964  0100820000  0100820000   516.0  Bennington ST  EAST BOSTON

     ZIP_CODE  BLDG_SEQ  NUM_BLDGS  LUC
0        2128         1          1  105
1        2128         1          1  105
2        2128         1          1  105
3        2128         1          1  105
4        2128         1          1  104
..        ...       ...        ...  ...
995      2128         1          1  102
996      2128         1          1  102
997      2128         1          1  995
998      2128         1          1  104
999      2128         1          1  101

[1000 rows x 10 columns]
     LU              LU_DESC           BLDG_TYPE OWN_OCC  \
0    R3   THREE-FAM DWELLING        RE - Row End       Y
1    R3   THREE-FAM DWELLING     RM - Row Middle       N
2    R3   THREE-FAM DWELLING     RM - Row Middle       Y
3    R3   THREE-FAM DWELLING     RM - Row Middle       N
4    R2     TWO-FAM DWELLING        RE - Row End       Y
..   ..                  ...                 ...     ...
995  CD    RESIDENTIAL CONDO  FS - Free Standing       Y
996  CD    RESIDENTIAL CONDO  FS - Free Standing       Y
997  CM           CONDO MAIN  FS - Free Standing       N
998  R2     TWO-FAM DWELLING   CV - Conventional       N
999  R1  SINGLE FAM DWELLING   CV - Conventional       Y

                                       OWNER MAIL_STREET_ADDRESS    MAIL_CITY  \
0                             PASCUCCI CARLO    195 LEXINGTON ST  EAST BOSTON
1                          SEMBRANO RODERICK    197 LEXINGTON ST  EAST BOSTON
2                     GUERRA CHEVARRIA ANA S    199 LEXINGTON ST  EAST BOSTON
3                            JB REALTY TRUST        PO BOX 557 #      EVERETT
4                        MARKS TRAVIS JOSEPH    203 Lexington ST  EAST BOSTON
..                                       ...                 ...          ...
995                            BRACAJ JONIDA  685 SARATOGA ST #1  EAST BOSTON
996                             ROLFE PHILIP  685 SARATOGA ST #2  EAST BOSTON
997    631 SARATOGA STREET CONDOMINIUM TRUST         5 HERSEY ST   SOMERVILLE
998  MARILYN A FORD FAMILY IRREVOCABLE TRUST     691 SARATOGA ST  EAST BOSTON
999                        HUTTUNEN RONALD W   516 BENNINGTON ST  EAST BOSTON

    MAIL_STATE  MAIL_ZIP_CODE
0           MA           2128
1           MA           2128
2           MA           2128
3           MA           2149
4           MA           2128
..         ...            ...
995         MA           2128
996         MA           2128
997         MA           2143
998         MA           2128
999         MA           2128

[1000 rows x 9 columns]
     RES_FLOOR  LAND_SF  GROSS_AREA  LIVING_AREA  LAND_VALUE
0          3.0   1150.0      3353.0       2202.0      197600
1          3.0   1150.0      3047.0       2307.0      198500
2          3.0   1150.0      3392.0       2268.0      199100
3          3.0   1150.0      3108.0       2028.0      199700
4          3.0   2010.0      3700.0       2546.0      230200
..         ...      ...         ...          ...         ...
995        2.0   1588.0      1588.0       1588.0           0
996        1.0   1067.0      1067.0       1067.0           0
997        3.0   2060.0         NaN          NaN           0
998        2.5   2500.0      3658.0       2459.2      211300
999        1.5   1250.0      1388.0        920.0      152400

[1000 rows x 5 columns]
     BLDG_VALUE  SFYI_VALUE  TOTAL_VALUE    GROSS_TAX  YR_BUILT
0        594400           0       792000   $8,632.80     1900.0
1        619700           0       818200   $8,918.38     1920.0
2        605300           0       804400   $8,767.96     1905.0
3        535600           0       735300   $8,014.77     1900.0
4        501400           0       731600   $7,974.44     1900.0
..          ...         ...          ...          ...       ...
995      578800           0       578800   $6,308.92     2017.0
996      500100           0       500100   $5,451.09     2017.0
997           0           0            0        $-       2019.0
998      440200           0       651500   $7,101.35     1900.0
999      250600           0       403000   $4,392.70     1900.0

[1000 rows x 5 columns]
             ROOF_COVER    INT_WALL       EXT_FNISHED     INT_COND  \
0       C - Composition  N - Normal      A - Asbestos  A - Average
1       C - Composition  N - Normal         M - Vinyl  A - Average
2       C - Composition  N - Normal         M - Vinyl  A - Average
3       C - Composition  N - Normal         M - Vinyl  A - Average
4       C - Composition  N - Normal         M - Vinyl  A - Average
..                  ...         ...               ...          ...
995  A - Asphalt Shingl  N - Normal  C - Cement Board     G - Good
996  A - Asphalt Shingl  N - Normal  C - Cement Board  A - Average
997  A - Asphalt Shingl        None  C - Cement Board         None
998  A - Asphalt Shingl  N - Normal         M - Vinyl  A - Average
999  A - Asphalt Shingl  N - Normal         M - Vinyl  A - Average

          EXT_COND OVERALL_COND  BED_RMS  FULL_BTH  HLF_BTH  KITCHENS
0         F - Fair  A - Average      6.0       3.0      0.0       3.0
1      A - Average  A - Average      3.0       3.0      0.0       3.0
2         G - Good  A - Average      5.0       3.0      0.0       3.0
3      A - Average  A - Average      5.0       3.0      0.0       3.0
4         F - Fair  A - Average      6.0       3.0      0.0       2.0
..             ...          ...      ...       ...      ...       ...
995       G - Good  A - Average      2.0       1.0      0.0       1.0
996       G - Good  A - Average      2.0       1.0      0.0       1.0
997  E - Excellent  A - Average      NaN       NaN      NaN       NaN
998    A - Average  A - Average      3.0       2.0      0.0       2.0
999       G - Good  A - Average      2.0       1.0      0.0       1.0

[1000 rows x 10 columns]
     TT_RMS       BTHRM_STYLE1       BTHRM_STYLE2  \
0      12.0    S - Semi-Modern    S - Semi-Modern
1       9.0         M - Modern         M - Modern
2      13.0         M - Modern         M - Modern
3      11.0    S - Semi-Modern    S - Semi-Modern
4      13.0  N - No Remodeling  N - No Remodeling
..      ...                ...                ...
995     5.0         M - Modern               None
996     4.0         M - Modern               None
997     NaN               None               None
998    13.0    S - Semi-Modern    S - Semi-Modern
999     5.0    S - Semi-Modern               None

                    KITCHEN_TYPE     KITCHEN_STYLE1
0    3F - 3 Full Eat In Kitchens    S - Semi-Modern
1    3F - 3 Full Eat In Kitchens         M - Modern
2    3F - 3 Full Eat In Kitchens    S - Semi-Modern
3    3F - 3 Full Eat In Kitchens    S - Semi-Modern
4    2F - 2 Full Eat In Kitchens  N - No Remodeling
..                           ...                ...
995               O - One Person         M - Modern
996               O - One Person         M - Modern
997                         None               None
998  0F - 0 Full Eat In Kitchens    S - Semi-Modern
999  1F - 1 Full Eat In Kitchens    S - Semi-Modern

[1000 rows x 5 columns]
              HEAT_TYPE         AC_TYPE  FIREPLACES  NUM_PARKING    PROP_VIEW
0    W - Ht Water/Steam        N - None         0.0          3.0  A - Average
1    F - Forced Hot Air  C - Central AC         0.0          0.0  A - Average
2        S - Space Heat        N - None         0.0          0.0  A - Average
3    W - Ht Water/Steam        N - None         0.0          0.0  A - Average
4    W - Ht Water/Steam        N - None         0.0          0.0  A - Average
..                  ...             ...         ...          ...          ...
995  F - Forced Hot Air  C - Central AC         0.0          0.0  A - Average
996  F - Forced Hot Air  C - Central AC         0.0          0.0  A - Average
997  F - Forced Hot Air        N - None         NaN          NaN  A - Average
998        E - Electric        N - None         0.0          0.0  A - Average
999  W - Ht Water/Steam        N - None         0.0          0.0  A - Average

[1000 rows x 5 columns]

3. Save The DataFrame 'df' As A CSV File To Folder

In [6]:
for i in range(len(dfs)):
    csv_file_path = "./preliminarydata/506" + str(i) + ".csv"  

    dfs[i].to_csv(csv_file_path, index=False)